[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User={{elk_username}}
Group={{elk_group}}
Environment=KAFKA_HEAP_OPTS="-Xmx256M -Xms256M"
ExecStart={{kafka_dir}}/bin/kafka-server-start.sh {{kafka_dir}}/config/server.properties
ExecStop={{kafka_dir}}/bin/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target