[Unit]
Description=kibana
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target elasticsearch.service

[Install]
WantedBy=multi-user.target

[Service]
User=vagrant
Group=vagrant
Environment=JAVA_HOME=/opt/jdk1.8.0_201
ExecStart=/opt/kibana-7.6.1-linux-x86_64/bin/kibana -c /opt/kibana-7.6.1-linux-x86_64/config/kibana.yml -l  /opt/kibana-7.6.1-linux-x86_64/kibana.log