[Unit]
Description=logstash
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target kafka.service

[Install]
WantedBy=multi-user.target

[Service]
User=vagrant
Group=vagrant
Environment=JAVA_HOME=/opt/jdk1.8.0_201
ExecStart=/opt/logstash-7.7.0/bin/logstash -f /opt/logstash-7.7.0/config/mysql.conf
