[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{elk_username}}
Group={{elk_group}}
Environment=KAFKA_HEAP_OPTS="-Xmx256M -Xms256M"
Environment=JAVA_HOME="/opt/jdk8"
ExecStart={{kafka_dir}}/bin/zookeeper-server-start.sh {{kafka_dir}}/config/zookeeper.properties
ExecStop={{kafka_dir}}/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target