[Unit]
Description=logstash
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target kafka.service

[Install]
WantedBy=multi-user.target

[Service]
User=vagrant
Group=vagrant
#Environment=JAVA_HOME=/opt/jdk1.8.0_201
ExecStart={{logstash_dir}}/bin/logstash -f {{logstash_dir}}/config/mysql.conf
