[Unit]
Description=logstash
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target kafka.service

[Install]
WantedBy=multi-user.target

[Service]
User={{elk_username}}
Group={{elk_group}}
Environment=JAVA_HOME=/opt/jdk8
ExecStart={{logstash_dir}}/bin/logstash -f {{logstash_dir}}/config/mysql.conf
